@import url('http://fonts.googleapis.com/css?family=Roboto');

body{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #2e2e2e;
}

#divLoader{
    z-index: -1;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2e;
}

.loader {
    border: 16px solid #7979796c;
    border-radius: 50%;
    border-top: 16px solid #3776c9;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

header{
    height: 12vh;
    display: none;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background: rgb(0, 87, 145);
    font-size: 2.5vh;
}

header img{
    height: 9vh;
}

.menu-icon{
    display: none;
}

.menuMini{
    flex: 1;
    z-index: -1;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    background: rgba(0, 2, 3, 0.507);
    height: 100vh;
    width: 50%;
    margin-top: 40%;
}

.menuMini h3{
    margin-top: 10%;
}

.menuMini p h3{
    position: absolute;
    z-index: 100;
}

.menu{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 12%;
    margin-right: 12%;
}


header h3{
    text-align: center;
}

header h3 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
}

header h3 a:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding-bottom: 4vh;
    border-bottom: 0.336vh solid rgb(255, 255, 255);
    background: rgb(176,176,176);
    background: linear-gradient(0deg, rgba(176,176,176,0.2190126050420168) 0%, rgba(218,217,217,0.1966036414565826) 17%, rgba(193,193,193,0) 48%);
}

.botoes{
    display: flex;
    width: 20%;
    justify-content: flex-end;
    font-family: 'Roboto';
}

.entrar{
    margin-left: 9%;
}

button{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1a1a;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
    padding-top: 5%;
    border: none;
    border-radius: 10px;
    font-size: 2.2vh;
    font-weight: bold;
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: #b4d4ffaf;
}

#root{
    height: fit-content !important;
}

#tituloMain{
    font-family: 'Roboto';
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-left: 3.5%;
}

#tituloMain h1{
    font-size: 7vh;
    color: white;
}

#tituloMain select{
    height: 5vh;
    width: 20%;
    font-size: 3vh;
    border-radius: 5px;
    margin-right: 1.5%;
}

#tituloMain select:focus{
    outline: transparent;
}

main{
    display: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
}

.produtos{
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 2%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background: rgb(255, 255, 255);
    word-wrap: break-word;
    border-radius: 20px;
    text-align: center;
}

.produtos h2{
    font-size: 3.5vh;
}

.produtos img{
    height: 24vh;
    width: 19vh;
    margin-top: 8%;
    margin-bottom: 8%;
}

.descricao{
    margin-bottom: 4%;
    font-size: 2.2vh;
    text-align: center;
}

.preco{
    font-size: 2.9vh;
    font-weight: bold;
    margin-bottom: 9%;
}

main a{
    display: flex;
    justify-content: center;
    color: transparent;
    width: 100%;
}

main button{
    background-color: #82b7fdaf;
}

main button:hover{
    background-color: #3987edaf;
}

footer{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: rgb(0, 87, 145);
    font-family: 'Roboto';
    color: white;
    font-size: 2vh;
}

footer img{
    height: 9vh;
}

#divLogo{
    margin-left: 3%;
    margin-right: 2%;
}

.informacoes{
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 100%;
}

footer .botoes{
    margin-right: 2%;
}

@media only screen and (max-width: 1510px) {
    .produtos img{
        height: 22vh;
        width: 17vh;
    }
}
@media only screen and (max-width: 1148px) {
    .menu{
        width: 50%;
        margin-left: 6%;
        margin-right: 6%;
    }
    main{
        justify-content: space-evenly;
    }
    .produtos{
        width: 40%;
    }
    .produtos img{
        height: 20vh;
        width: 15vh;
    }
    main button{
        background-color: #b4d4ffaf;
        margin-bottom: 15%;
    }
}
@media only screen and (max-width: 892px) {
    main{
        justify-content: space-evenly;
    }
    .produtos{
        width: 80%;
    }
    
}
@media only screen and (min-width: 787px) {
    .menuMini{
        display: none;
    }
}
@media only screen and (max-width: 787px) {
    header{
        height: 8vh;
        justify-content: flex-start;
    }
    #logo{
        display: none;
    }
    .menu{
        display: none;
    }
    .botoes{
        display: none;
    }
    .menu-icon{
        display: block;
        color: white;
        margin-left: 8%;
    }
}