<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/pesquisa.css">
    <link rel="icon" href="../public/img/logo2.svg">
</head>
<body>
    <div id="divLoader">
        <div class="loader"></div>
    </div>
    <div class='menuMini'>
        <div id="close">
            <img src="../public/img/close.svg">
        </div>
        <h3 id='home'><a href="../index.html">Home</a></h3>
        <h3><a>Pesquisar</a></h3>
        <h3><a>About</a></h3>
        <h3><a>Contato</a></h3>
    </div>
    <header>
        <img src="../public/img/logo1.svg" id="logo"></img>
        <div class='menu'>
            <h3 id='home'><a href="../index.html">Home</a></h3>
            <h3><a>Pesquisar</a></h3>
            <h3><a>About</a></h3>
            <h3><a>Contato</a></h3>
        </div>
        <div class='botoes'>
            <button class='cadastro'>Cadastrar</button>
            <button class='entrar'>Entrar</button>
        </div>
        <img class='menu-icon' src="../public/img/menu.svg">
    </header>
    <div id='pesquisa'>
        <input type="text" placeholder='Pesquise por um produto...' id="pesquisaInput"/>
        <button id="pesquisar"><img src="../public/img/pesquisa.svg"></button>
    </div>
    <div id="divLoaderPesquisa">
        <div class="loader"></div>
    </div>
    <div id="notFound">
        <h1>Produto não encontrado</h1>
        <img src="../public/img/norFound.svg">
    </div>
    <main>
    </main>
    <script src="../public/js/pesquisa.js"></script>
</body>
</html>